* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Variables */
:root {
  --body-background: hsl(233, 47%, 7%);
  --card-background: hsl(244, 38%, 16%);
  --main-color: hsl(0, 0%, 100%);
  --main-paragraph: hsla(0, 0%, 100%, 0.75);
  --stat-headings: hsla(0, 0%, 100%, 0.6);
  --heading-font: "Inter", sans-serif;
  --p-font: "Lexend Deca", sans-serif;
}
body {
  background-color: var(--body-background);
  color: var(--main-color);
  font: 400 1rem var(--p-font);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1rem;
}
section {
  background-color: var(--card-background);
  display: flex;
  width: min(1080px, 100%);
  border-radius: 0.5rem;
  overflow: hidden;
}
@media (max-width: 767px) {
  section {
    flex-direction: column-reverse;
    margin-block-start: 8rem;
    margin-inline: 5rem;
  }
}
section .content {
  padding: 4rem 5rem 4rem 4rem;
}
@media (max-width: 767px) {
  section .content {
    text-align: center;
  }
}
section .content h1 {
  font-family: var(--heading-font);
  font-weight: 700;
  font-size: 2.2rem;
}
@media (max-width: 767px) {
  section .content h1 {
    font-size: 2.8rem;
  }
}
section .content h1 span {
  color: hsl(277, 64%, 61%);
}
section .content p {
  margin-block: 2rem;
  line-height: 1.75;
  color: var(--main-paragraph);
}
@media (max-width: 767px) {
  section .content p {
    font-size: 1.35rem;
  }
}
section .box {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  margin-block-start: 4rem;
}
@media (max-width: 767px) {
  section .box {
    flex-direction: column;
  }
}
section .box div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
@media (max-width: 767px) {
  section .box div {
    margin-bottom: 1rem;
  }
}
section .box div .number {
  font-family: var(--heading-font);
  font-weight: 700;
  font-size: 1.3rem;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  section .box div .number {
    font-size: 2.3rem;
  }
}
section .box div .title {
  color: var(--stat-headings);
}
@media (max-width: 767px) {
  section .box div .title {
    font-size: 1.5rem;
  }
}
.image {
  position: relative;
}

.image::after {
  content: "";
  position: absolute;
  background-color: hsl(277, 64%, 61%);
  inset: 0;
  opacity: 0.5;
}
img {
  display: block;
}
@media (max-width: 767px) {
  img {
    width: 100%;
  }
}
/* .attribution {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
} */
